:root {
    --forecast-entry-margin: 10px;
    --font_family: 'Trebuchet MS', 'Public Sans', 'Lucida Sans', Arial, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

body, button, input {
    font-family: var(--font_family);
    /* use the same font for all of the text on the page */
}

input {
    border: 1px solid black;
    border-radius: 5px;
}

@media only screen and (max-width: 800px) {
    #city-input {
        width: 90px;
    }
}

h1 {
    background: linear-gradient(45deg, blue, transparent);
    text-align: center;
}

#search-container {
    margin-right: 10px;
    width: 20%;
    float: left;
}

form {
    margin-bottom: 15px;
}

#search-btn {
    background-color: deepskyblue;
}

#search-btn:hover {
    background-color: aqua;
}

#clear-history-btn {
    display: none;
    margin-top: 15px;
    border: 1px black solid;
    border-radius: 5px;
    color: ghostwhite;
    background-color: red;
}

#clear-history-btn:hover {
    background-color: darkred;
}

#choice-container {
    display: none;
    /*margin-left: 10px;*/
    float: left;
    width: 75%;
    max-width: 900px;
}

#home-page-btn {
    margin-top: 20px;
    border: 1px black solid;
    border-radius: 5px;
    background-color: lightgrey;
}

#home-page-btn:hover {
    background-color: deepskyblue
}

#forecast-container {
    /*margin-left: 10px;*/
    float: left;
    width: 75%;
    max-width: 900px;
}
/* source for how to position two divs side-by-side: https://stackoverflow.com/questions/5387392/how-to-get-these-two-divs-side-by-side */

@media only screen and (max-width: 500px) {
    #search-container, #forecast-container {
        width: 100%; /* forces the search container and the forecast container to display vertically */
    }
    #city-input {
        width: 130px;
    }
}

#current-weather {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;
}

#city-state-country, #current-date-container {
    display: inline-block;
}

#forecast-next-five-days {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

#forecast-title {
    margin-top: 20px;
}

.date-and-description {
    display: block;
}

#forecast-one-day-out {
    margin-right: 10px;
}

#forecast-two-days-out, #forecast-three-days-out, #forecast-four-days-out {
    margin-left: 10px;
    margin-right: 10px;
}

#forecast-five-days-out {
    margin-left: 10px;
}

.forecast-entry {
    display: block;
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 10px;
    color: ghostwhite;
    background-color: deepskyblue;
}
