:root {
    --small-margin: 10px; /* this variable will also be used where padding is 10px */
    --medium-margin: 15px;
    --big-margin: 20px;
    --border: 1px solid black;
    --border-radius: 5px;
    --text-color: ghostwhite;
    --bg-and-hover-color: deepskyblue;
    --font-family: 'Trebuchet MS', 'Public Sans', 'Lucida Sans', Arial, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

body, button, input {
    font-family: var(--font-family);
    /* use the same font for all of the text on the page */
}

input {
    border: var(--border);
    border-radius: var(--border-radius);
}

@media only screen and (max-width: 800px) {
    #city-input {
        width: 90px; /* the input box shrinks to 90px in width when the screen is 800px or less */
    }
}

h1 {
    background: linear-gradient(45deg, blue, transparent);
    text-align: center;
}

#search-container {
    margin-right: var(--small-margin);
    width: 20%;
    float: left;
}

form {
    margin-bottom: var(--medium-margin);
}

#search-btn {
    background-color: var(--bg-and-hover-color);
}

#search-btn:hover {
    background-color: aqua;
}

#clear-history-btn {
    display: none;
    margin-top: var(--medium-margin);
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--text-color);
    background-color: red;
}

#clear-history-btn:hover {
    background-color: darkred;
}

#choice-container {
    display: none;
    float: left;
    width: 75%;
    max-width: 900px;
}

#home-page-btn {
    margin-top: var(--big-margin);
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: lightgrey;
}

#home-page-btn:hover {
    background-color: var(--bg-and-hover-color)
}

#forecast-container {
    float: left;
    width: 75%;
    max-width: 900px;
}
/* source for how to position two divs side-by-side: https://stackoverflow.com/questions/5387392/how-to-get-these-two-divs-side-by-side */

@media only screen and (max-width: 500px) {
    #search-container, #choice-container, #forecast-container {
        width: 100%; /* force the search container to display on top of the forecast container/choice container */
    }
    #city-input {
        width: 130px; /* make the input box larger when the search container has no containers beside it */
    }
}

#current-weather {
    margin-top: var(--big-margin);
    padding: var(--small-margin);
    border: var(--border);
}

.current-date-and-description {
    display: inline-block;
}

#forecast-next-five-days {
    display: flex;
    flex-wrap: wrap; /* make forecast entries move down to new lines as the screen shrinks */
    margin-top: var(--small-margin);
}

#forecast-title {
    margin-top: var(--big-margin);
}

.forecast-date-and-description {
    display: block;
}

#forecast-one-day-out {
    margin-right: var(--small-margin);
}

#forecast-two-days-out, #forecast-three-days-out, #forecast-four-days-out {
    margin-left: var(--small-margin);
    margin-right: var(--small-margin);
}

#forecast-five-days-out {
    margin-left: var(--small-margin);
}

.forecast-entry {
    display: block;
    flex-grow: 1; /* make forecast entries take up 100% of the width of all of the lines they use */
    margin-bottom: var(--small-margin);
    padding: var(--small-margin);
    color: var(--text-color);
    background-color: var(--bg-and-hover-color);
}
